<div class="container-fluid" id="about">
   <h1 class="text-center">Tired of missing your delivery?</h1>
   <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">
         <img class="img-fluid" src="../assets/images/images/iphone-7.png" />
      </div>
      <div class="col-12 col-sm-10 col-md-6 col-lg-5 align-self-center">
         <p>You like shopping online, but you hate ending
            up at the post office because you missed your
            delivery? This is just the app you need!
         </p>
         <p>
            With this app you can request your neighbours to pick up
            your incoming delivery. You then have to choose the
            neighbour you like from those who are willing to accept
            your request.
         </p>
         <p>
            When you get home you can just get your package from
            your neighbour instead of having the hassle to
            reschedule a delivery or go to the post office.
         </p>
         <p>
            You can also reward them for their service!
         </p>
      </div>
   </div>
</div>
