<div class="container-fluid" id="follow-us">
   <div class="text-center" id="title">
      <h1>What are you waiting for?</h1>
      <h1>Get the app now!</h1>
   </div>
   <!-- Appstore & Google play -->
   <div class="text-center">
      <img id="google-badge" src="../assets/images/appLinks/google-play-badge.png" />
      <img id="apple-badge" src="../assets/images/appLinks/app-store-badge.png" />
   </div>
   <!-- Follow us -->
   <div class="text-center" id="follow">
      <h2>Follow us on</h2>
      <img src="../assets/images/social-icons/fb-icon.png" />
      <img src="../assets/images/social-icons/twitter-icon.png" />
      <img src="../assets/images/social-icons/google-icon.png" />
      <img src="../assets/images/social-icons/instagram-icon.png" />
   </div>
</div>
