<div class="container-fluid" id="home">
   <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
         <!-- Catch phrase -->
         <div class="container-fluid" id="title">
            <h1>Not home when your delivery arrives?</h1>
            <h1>Ask your neighbour to get it!</h1>
         </div>
         <div class="container-fluid">
            <p>Or help them, check if your neighbours need help!</p>
         </div>
         <!-- Address input -->
         <div class="container-fluid">
            <div class="input-group">
               <input type="text" class="form-control"
                placeholder="Enter your home address" />
                <button class="btn btn-outline-light ml-1 "
                 type="button" id="button-addon2">Search</button>
            </div>
         </div>
         <!-- Appstore & Google play -->
         <div class="container-fluid d-none d-md-block" id="download-now">
            <h3>Download now for free!</h3>
            <div class="row" id="appLinks">
               <img id="google-badge" src="../assets/images/appLinks/google-play-badge.png" />
               <img id="apple-badge" src="../assets/images/appLinks/app-store-badge.png" />
            </div>
         </div>
      </div>
      <div class="col-12 col-md-5 col-xl-4 text-center">
         <img class="img-fluid" src="../assets/images/images/homepage-phone.png" />
      </div>
      <!-- Appstore & Google play -->
      <div class="container-fluid d-md-none" id="download-now-2 ">
         <h3 class="text-center">Download now for free!</h3>
         <div class="row justify-content-center" id="appLinks">
            <img id="google-badge" src="../assets/images/appLinks/google-play-badge.png" />
            <img id="apple-badge" src="../assets/images/appLinks/app-store-badge.png" />
         </div>
      </div>
   </div>
   <div class="container-fluid text-center" id="scroll-down">
      <a pageScroll href="#about"><h5>Learn more</h5>
      <img src="../assets/images/icons/arrow-down.png"
      id="icon-arrow-down"/></a>
   </div>
</div>
