<div class="container-fluid h-100">
   <div class="row h-100" id="login-register-row">
      <div class="col-12 col-lg-6 align-self-center">
         <div class="offset-md-1">
            <div>
               <h1 class="display-4">Join us today for free!</h1>
            </div>
            <div>
               <p>Create your account now and start using our
                  app to connect with your neighbours!</p>
            </div>
            <div>
               <a routerLink="#"><button class="btn btn-light ">Register</button></a>
            </div>
         </div>
      </div>
      <div class="col-12 col-lg-6 text-center align-self-center" id="login">
         <div class="col-12">
            <h1>Login in to your account</h1>
         </div>
         <div class="col-12 row justify-content-center " id="login-box">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4 mb-3">Submit</button>
            </form>
            <div class="col-12">
               <a routerLink="#">Forgot your password?</a>
            </div>
         </div>
      </div>
   </div>
</div>
